.contact {
  padding: 5rem 7rem 1rem 7rem;
}
.title {
  color: var(--light);
  font-size: 2.5rem;
  margin: 0 0 2rem 0;
  text-align: center;
  font-weight: 600;
}
.info {
  width: 80%;
  margin: 1.2rem auto;
  text-align: center;
  color: var(--secondary);
  font-size: 1.2rem;
}
.button {
  background-color: var(--primary);
  color: var(--highlight);
  border: 1px solid var(--highlight);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 2rem;
  width: fit-content;
}
.button:hover {
  background-color: var(--lightHighlight);
}
.end {
  margin: 1rem 0 0 0;
  font-weight: 400;
  color: var(--secondary);
}
.svg {
  margin-bottom: -0.3rem;
}
