.intro {
  padding: 5rem 7rem 5rem 7rem;
}
.hello {
  color: var(--highlight);
  font-size: 1.3rem;
  margin: 0;
  font-weight: 400;
}
.hello::selection {
  background: var(--primary);
  color: var(--light);
}
.fenil {
  color: var(--light);
  font-size: 4.5rem;
  margin: 1rem 0;
  font-weight: 600;
}
.fenil::selection {
  background: var(--primary);
  color: var(--highlight);
}
.des {
  margin: 0;
  color: var(--secondary);
  font-size: 3rem;
  font-weight: 500;
}
.des::selection {
  background: var(--primary);
  color: var(--light);
}
.about {
  width: 60%;
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: var(--secondary);
  font-weight: 400;
}
.about::selection {
  background: var(--primary);
  color: var(--light);
}
.button {
  background-color: var(--primary);
  color: var(--highlight);
  border: 1px solid var(--highlight);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 2rem;
}
.button:hover {
  background-color: var(--lightHighlight);
}
@media screen and (max-width: 768px) {
  .intro {
    padding: 4rem 1rem 4rem 1rem;
  }
  .about {
    width: 90%;
  }
  .fenil {
    font-size: 3.5rem;
  }
  .des {
    font-size: 2.5rem;
  }
  .button {
    padding: 1rem 1rem;
  }
}
@media screen and (max-width: 480px) {
  .intro {
    padding: 3rem 0rem 3rem 0rem;
  }
  .about {
    width: 100%;
  }
  .fenil {
    font-size: 3rem;
  }
  .des {
    font-size: 2rem;
  }
}
