.navbar {
  background-color: var(--primary);
  color: var(--secondary);
}
.ul {
  width: 100%;
}
.li {
  margin-left: 3rem;
  font-size: 1.1rem;
}
.li a:hover {
  color: var(--highlight);
}
@media only screen and (max-width: 768px) {
  .li {
    margin-left: 1rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  .li {
    margin-left: 0.5rem;
    font-size: 0.9rem;
  }
}
